@model BeSafeWebApp.Models.TreeNode
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeSafe - Dashboard</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/datepicker3.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/stylesForCategory.css")" rel="stylesheet" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="main" style="margin: 50px">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a href="../">
                        <em class="fa fa-home"></em>
                    </a>
                </li>
                <li class="active">Dossiers</li>
            </ol>
        </div><!--/.row-->

        <div class="row" align="center">
            <div class="col-lg-12">
                <a  href="@Url.Action("Index","User")">

                <h2>Dossier principal</h2>
                </a>
            </div>
            @foreach (var item in Model.Categories)
            {
                <a class="blockLink" href="@Url.Action("Navigate","User",new {idcategory=item.CategoryId})">

                <div class="col-md-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </div>
                        <div class="panel-body">
                            <p> @Html.DisplayFor(modelItem => item.Remarks)</p>
                        </div>
                    </div>
                </div>
                    </a>
            }
        </div>       
    
    
        @if (Model.children.Any())
        {
            <div class="col-lg-12">
                <h2>Contenu de dossier</h2>
            </div>

            foreach (var item in Model.children)
            {
                <div class="col-md-3">
                    <div class="panel panel-orange">
                        <div class="panel-heading dark-overlay">@Html.DisplayFor(modelItem => item.Name)</div>
                        <div class="panel-body">
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            @if (item.ItemType.ToLower() == "image")
                            {
                                <img src="@Html.DisplayFor(modelItem => item.ItemLink)" alt="your image" />
                            }
                        </div>
                    </div>
                </div> 
            }

        }

       
        
        <div class="col-sm-12">
            <p class="back-link">BeSafe by <a href="https://www.microacess.com">Micro Acess</a></p>
        </div>
    </div><!--/.row-->
  

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/chart.min.js"></script>
<script src="js/chart-data.js"></script>
<script src="js/easypiechart.js"></script>
<script src="js/easypiechart-data.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/custom.js"></script>

</body>
</html>
