<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeSafe - Dashboard</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/datepicker3.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/styles.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/stylesForCategory.css")" rel="stylesheet" />

    <!--Custom Font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @await Html.PartialAsync("_Header")

    @await Html.PartialAsync("_SideBar")

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


        @RenderBody();

        @await Html.PartialAsync("_Footer")
    </div>	<!--/.main-->
    @*<script src="@Url.Content("~/js/jquery-1.11.1.min.js")"></script>*@
    <script src="@Url.Content("~/lib/jquery/dist/jquery.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/chart.min.js")"></script>
    <script src="@Url.Content("~/js/chart-data.js")"></script>
    <script src="@Url.Content("~/js/easypiechart.js")"></script>
    <script src="@Url.Content("~/js/easypiechart-data.js")"></script>
    <script src="@Url.Content("~/js/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/categorybinding.js")" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            var counter = 1;
            var wrapper = $("#accordion");

            $("#addButton").on("click", function (e) {
                e.preventDefault();
                var catgName = prompt("Veuillez ajouter le nom de votre section");
                if (catgName == '') {
                    catgName = 'Catg#' + counter;
                }
                if (catgName != null) {
                    var ariaExpanded = false;
                    var expandedClass = '';
                    var collapsedClass = 'collapsed';
                    if (counter == 1) {
                        ariaExpanded = true;
                        expandedClass = 'in';
                        collapsedClass = '';
                    }
                    $(wrapper).append('<div class="col-sm-12" style="margin-bottom: 0;"><div class="panel panel-default" id="panel' + counter + '">' +
                        '<div class="panel-heading" role="tab" id="heading' + counter + '"><h4 class="panel-title">' +
                        '<a class="' + collapsedClass + '" id="panel-lebel' + counter + '" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + counter + '" ' +
                        'aria-expanded="' + ariaExpanded + '" aria-controls="collapse' + counter + '"> ' + catgName + ' </a><div class="actions_div" style="position: relative; top: -26px;">' +
                        '<a href="#" accesskey="' + counter + '" class="remove_ctg_panel exit-btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>' +
                        '<a href="#" accesskey="' + counter + '" class="edit_ctg_label pull-right"><span class="glyphicon glyphicon-edit "></span> Edit</a>' +
                        '<a href="#" accesskey="' + counter + '" class="pull-right" id="addButton2"> <span class="glyphicon glyphicon-plus"></span> Ajouter une sous section</a></div></h4></div>' +
                        '<div id="collapse' + counter + '" class="panel-collapse collapse ' + expandedClass + '"role="tabpanel" aria-labelledby="heading' + counter + '">' +
                        '<div class="panel-body"><div id="TextBoxDiv' + counter + '"></div><a class="btn btn-xs btn-primary" accesskey="' + counter + '" id="addButton3" ><span class="glyphicon glyphicon-plus"></span> Ajouter de nouveaux element</a>' +
                        '<a class="btn btn-xs btn-success" accesskey="' + counter + '" id="ajax_submit_button" >Valider</a></div></div></div></div>');
                    counter++;
                }

            });

            var x = 1;
            $(wrapper).on("click", "#addButton2", function (e) {
                e.preventDefault();
                var parentId = $(this).attr('accesskey');
                var parentPanel = '#panel' + parentId;
                var catgName = prompt("Veuillez ajouter le nom de la section");
                if (catgName == '') {
                    catgName = ' P#' + parentId + ' Catg#' + counter;
                }
                if (catgName != null) {
                    var ariaExpanded = false;
                    var expandedClass = '';
                    var collapsedClass = 'collapsed';

                    $(wrapper).find(parentPanel).append('<div class="col-sm-12" style="margin-bottom: 0;"><div class="panel panel-default" id="panel' + counter + '">' +
                        '<div class="panel-heading" role="tab" id="heading' + counter + '"><h4 class="panel-title">' +
                        '<a class="' + collapsedClass + '" id="panel-lebel' + counter + '" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse' + counter + '" ' +
                        'aria-expanded="' + ariaExpanded + '" aria-controls="collapse' + counter + '"> ' + catgName + ' </a><div class="actions_div" style="position: relative; top: -26px;">' +
                        '<a href="#" accesskey="' + counter + '" class="remove_ctg_panel exit-btn pull-right"><span class="glyphicon glyphicon-remove"></span></a>' +
                        '<a href="#" accesskey="' + counter + '" class="edit_ctg_label pull-right"><span class="glyphicon glyphicon-edit"></span> Edit</a>' +
                        '<a href="#" accesskey="' + counter + '" class="pull-right" id="addButton2"> <span class="glyphicon glyphicon-plus"></span> ajouter nouveau sous element</a></h4></div>' +
                        '<div id="collapse' + counter + '" class="panel-collapse collapse ' + expandedClass + '"role="tabpanel" aria-labelledby="heading' + counter + '">' +
                        '<div class="panel-body"><div id="TextBoxDiv' + counter + '"></div><a class="btn btn-xs btn-primary" accesskey="' + counter + '" id="addButton3" ><span class="glyphicon glyphicon-plus"></span> ajouter nouveau element</a>' +
                        '<a class="btn btn-xs btn-success" accesskey="' + counter + '" id="ajax_submit_button" >Done</a></div></div></div></div>');

                    x++;
                    counter++;
                }

            });

            $(wrapper).on("click", ".remove_ctg_panel", function (e) {
                e.preventDefault();
                var accesskey = $(this).attr('accesskey');
                $('#panel' + accesskey).remove();
                counter--;
                x--;
            });




            var y = 1;
            $(wrapper).on("click", "#addButton3", function (e) {
                e.preventDefault();
                var accesskey = $(this).attr('accesskey');
                y++;
                $('#panel' + accesskey).find('#TextBoxDiv' + accesskey).append('<div class="col-md-12 form-group">' +
                    '	<div class="form-group">' +
                    '<select style="width: 40%;float: left;" class="form-control" name="ctgtext[]"> ' +
                    '<option value="value1" >Sélectionné</option>                                                      ' +
                    '<option value="Document">Document</option>                                                      ' +
                    '<option value="Image" >Image</option>                                                      ' +
                    '<option value="Lien">Lien</option>                                                      ' +
                    '<option value="AUTRE">AUTRE</option>                                                      ' +
                    '</select > ' +
                    '<a href="#" class="remove_field exit-btn"><span class="glyphicon glyphicon-remove"></a></div></div>');

            });

            $(wrapper).on("click", ".remove_field", function (e) {
                e.preventDefault();
                $(this).parent('div').remove(); y--;
            })

            $(wrapper).on("click", ".edit_ctg_label", function (e) {
                var panelId = $(this).attr('accesskey');
                var catgName = prompt("Please Change your category name");
                if (catgName == '') {
                    return false;
                }
                if (catgName != null) {
                    $('#panel' + panelId).find("#panel-lebel" + panelId).html('').html(catgName);
                }


            });
        });

    </script>

</body>
</html>